@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'MBKCorpoS', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}
body {
    width: 100%;
    position: relative;
}
img {
    vertical-align: top;
}

/*** chat ***/
.chat {
    width: 100%;
    position: relative;
}
.chat a {
    position: fixed;
    top: 800px;
    right: 80px;
    z-index: 9999;
}
.chat a img {
    width: 60px;
    padding: 15px;
    background: #555555;
    border-radius: 50px;
    transition: 0.3s ease-in-out;
}

.chat a img:hover {
    background-color: #006CD0;
}

/*** header ***/
header {
    width: 100%;
    height: 100px;
    padding: 0 80px;
    display: flex;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    transition: 0.5s ease-in-out;
}
header:hover {
    background-color: #555555;
    color: #ffffff;
}
header .logo img {
    width: 45px;
}

/* nav */
/* main-menu */
header nav .main-menu {
    padding-left: 200px;
    display: flex;
    justify-content: space-between;
}

header nav .main-menu li {
    width: 250px;
    position: relative;
}

header nav .main-menu li a {
    color: #ffffff;
    padding-left: 30px;
}

header nav .main-menu li a span:hover {
    border-bottom: 1px solid #ffffff;
}

/* sub-menu */
header nav .sub-menu {
    width: 100%;
    display: none;
    position: absolute;
    top: 330%;

    background-color: #555555;
    z-index: 9999;
}

header nav .sub-menu li {
    line-height: 3.5;
}

header nav .sub-menu li a {
    width: 100%;
    color: #ffffff;
    border-bottom: 1px solid transparent;
    transition: 0.3s ease-in-out;

    display: flex;
    flex-direction: row;
    align-items: center;
}
header nav .sub-menu li a span {
    color: transparent;
}
header nav .sub-menu li:hover a {
    border-bottom: 1px solid #B3B2B3;
    background-color: rgba(255, 255, 255, 0.1);
}
header nav .sub-menu li:hover a span {
    border-bottom: none;
    background-color: none;
}

/* 마지막 list border-bottom 해제 */
header nav .sub-menu li:last-child a {
    border-bottom: none;
}

header nav .sub-menu li a svg {
    fill: #ffffff;
    margin-right: 10px;
}

/* side-menu */
header .side-menu {
    display: flex;
    gap: 25px;
    margin-left: auto;
    align-items: center;
}

header .side-menu a {
    color: #ffffff;
}

header .side-menu a:first-of-type:hover {
    border-bottom: 1px solid #ffffff;
}

header .side-menu a img {
    width: 24px;
}


/*** 본문 내용 시작 ***/
/*** main ***/
.main {
    width: 100%;
    height: 900px;
    padding: 0 80px 0 80px;
    position: relative;
}
.main .title {
    position: absolute;
    top: 500px;
    z-index: 9999;
}
.main .title h1 {
    font-family: 'MBK CorpoA', serif;
    font-size: 170px;
    color: #ffffff;
}
.main .title h2 {
    margin-top: 10px;
    font-size: 20px;
    font-family: 'MBKCorpoSLight', sans-serif;
    color: #ffffff;
}

/* button */
.main .title .title-btn {
    margin-top: 20px;
    display: flex;
    align-items: center;
}
.main .title .title-btn .btn1 {
    padding: 10px 20px;
    border-radius: 50px;
    border: 1px solid #ffffff;
    color: #ffffff;
    display: flex;
    align-items: center;
    transition: 0.3s ease-in-out;
}
.main .title .title-btn .btn1:hover {
    background-color: #ffffff;
    border: 1px solid #ffffff;
    color: #101010;
}
.main .title .title-btn .btn1 svg {
    margin-left: 5px;
    fill: #ffffff;
    transition: 0.3s ease-in-out;
}
.main .title .title-btn .btn1:hover svg {
    fill: #101010;
}
.main .title .title-btn .btn2 {
    padding: 10px 20px;
    margin-left: 15px;
    border-radius: 50px;
    background-color: #006CD0;
    color: #ffffff;
    transition: 0.3s ease-in-out;
}
.main .title .title-btn .btn2:hover {
    background-color: #ffffff;
    color: #101010;
}
.main .title p {
    margin-top: 50px;
    font-size: 14px;
    color: #ffffff;
}
.main video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 900px;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -99;
}

/*** gradient ***/
.gradient {
    margin: 0;
    width: 100%;
    height: 200px;
    background: linear-gradient(0deg, #101010 15%, transparent 100%);

    position: absolute;
    top: 720px;
    z-index: 999;
}

/*** intro ***/
.intro {
    width: 100%;
    height: 1300px;
    padding-top: 270px;
    background-color: #101010;
    text-align: center;

    position: relative;
    overflow: hidden;
}
.intro h2 {
    width: 60%;
    margin: 0 auto;
    font-family: 'MBK CorpoA', serif;
    font-size: 90px;
    color: transparent;

    transform: translateY(60px);
    transition: 0.5s ease-in-out, 0.5s ease-in-out;
}
.intro video {
    width: 40%;
    padding-top: 55px;
}


/* !!!!!!!!!!!!!!!!!!!!리코 다시 복붙!!!!!!!!!!!!!!!!!!! */



/*** models ***/
.models {
    width: 100%;
    height: 1700px;
    background: url(../assets/images/models/bg.jpg) no-repeat 50% 50% / cover;
    text-align: center;
    position: relative;
}

/* title */
.models h1 {
    padding-top: 200px;
    font-family: 'MBKCorpoA', serif;
    font-size: 90px;
    letter-spacing: 2px;
    color: transparent;

    transform: translateY(50px);
    transition: 0.5s ease-in-out, 0.5s ease-in-out;
}

/* options */
.models .options {
    width: 300px;
    text-align: left;
    position: absolute;
    top: 45%;
    left: 80px;
}
/* list */
.models .options .list a {
    line-height: 2.5;
    color: #101010;
}
.models .options .list a span {
    font-family: 'MBKCorpoA', serif;
    letter-spacing: 0.5px;

    display: none;
    transition: 0.3s ease-in-out;
}
.models .options .list.active a span {
    display: inline;
} 
.models .options .list a svg {
    margin-right: 10px;
    fill: #B3B2B3;
    transition: transform 0.3s ease-in-out;
}
.models .options .list.active a svg {
    fill: #101010;
    animation: bounce 0.5s;
}
@keyframes bounce {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-5px);
    }
    100% {
        transform: translateX(0); 
    }
}

/* content */
.models .content {
    width: 100%;
    margin: 80px;
}
.models .content img {
    width: 70%;
    display: none;
    margin: 0 auto;
    transition: transform 0.3s ease-in-out;
}
.models .content img.active {
    display: block;   
    animation: bounce 0.5s;
}

.models .content p {
    font-size: 14px;
    color: #B3B2B3 ;
    position: absolute;
    bottom: 600px;
    right: 80px;
}

/* spec */
.models .spec {
    width: 100%;
    padding: 20px 80px 0 80px;
    text-align: left;
    
    display: flex;
    justify-content: space-between;

    position: absolute;
    top: 1250px;
}
.models .spec .inner {
    width: 360px;
}
.models .spec h2 {
    padding-bottom: 20px;
    font-size: 30px;
}
.models .spec p {
    line-height: 1.5;
    color: #555555;
}

/* link */
.models .link a {
    font-size: 20px;
    color: #101010;
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    left: 50%;
    bottom: 130px;
    transform: translate(-50%, -50%);
}
.models .link a img {
    width: 30px;
    margin-left: 10px;
    padding: 5px;
    background-color: #101010;
    border-radius: 50px;
    transition: 0.3s ease-in-out;
}
.models .link a:hover img {
    background-color: #006CD0;
}


/*** service & acc ***/
.service {
    width: 100%;
    padding: 150px 80px;
}

/* title */
.service .title {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.service .title h2 {
    font-family: 'MBK CorpoA', serif;
    font-size: 60px;
}
.service .title a {
    padding-bottom: 10px;
    font-size: 20px;
    border-bottom: 1px solid #E5E4E5;
    color: #101010;
    display: flex;
    align-items: center;
    transition: 0.3s ease-in-out;
}
.service .title a:hover {
    border-bottom: 1px solid #101010;
}
.service .title a img {
    margin-left: 10px;
    width: 15px;
}

/* service content-list */
.service .content {
    width: 100%;
    padding-top: 50px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.service .content .inner1 p,
.service .content .inner2 p,
.service .content .inner3 p,
.service .content .inner4 p {
    padding-top: 25px;
}
.service .content .inner1 h3,
.service .content .inner2 h3,
.service .content .inner3 h3,
.service .content .inner4 h3 {
    padding-top: 27px;
    font-size: 22px;
    line-height: 1.3;
}
.service .content .inner1 h3 {
    width: 440px;
}
.service .content .inner3 h3 {
    width: 380px;
}
.service .content .inner4 h3 {
    width: 500px;
}

.service .content .inner1 a,
.service .content .inner2 a,
.service .content .inner3 a,
.service .content .inner4 a {
    width: 230px;
    margin-top: 30px;
    padding: 8px 10px 8px 20px;
    color: #ffffff;
    border: 1px solid #006CD0;
    background-color: #006CD0;
    border-radius: 70px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.3s ease-in-out;
}
.service .content .inner1 a:hover,
.service .content .inner2 a:hover,
.service .content .inner3 a:hover,
.service .content .inner4 a:hover {
    color: #101010;
    background: #ffffff;
    border: 1px solid #101010;
}
.service .content .inner1 a img,
.service .content .inner2 a img,
.service .content .inner3 a img,
.service .content .inner4 a img {
    width: 45px;
    padding: 12px;
    background-color: #fff;
    border-radius: 30px;
}

/* hover */
.service .content > div,
.service .content > div,
.service .content > div,
.service .content > div {
    height: 100%;

    position: relative;
    overflow: hidden;
}
.service .content > div img 
.service .content > div img 
.service .content > div img 
.service .content > div img {
    overflow: hidden;
    object-fit: cover;

    transition: 0.5s ease-in-out, 0.5s ease-in-out;
}
.service .content > div img:hover,
.service .content > div img:hover,
.service .content > div img:hover,
.service .content > div img:hover {
    transform: scale(1.05);
    opacity: 0.8;
}

/* list 1 */
.service .content .inner1 > img {
    width: 595px;
}
/* list 2 */
.service .content .inner2 > img {
    width: 690px;
    height: 700px;
    object-fit: cover;

    object-position: 84%;
}
/* list 3 */
.service .content .inner3 > img {
    width: 400px;
    height: 515px;
    object-fit: cover;

    object-position: 84%;
}
/* list 4 */
.service .inner4 > img {
    width: 595px;
    padding-top: 60px;
}



/*** outro ***/
.outro {
    margin: 0 auto;
    width: 100%;
    height: 2500px;
    text-align: center;
    color: #ffffff;
    background-color: #101010;

    position: relative;
}
.outro > div {
    width: 100%;
    height: 1000px;

    position: absolute;
    top: 0;
    opacity: 0; 
    /* transform: translateY(100px); */
    transition: 0.5s ease-in-out;
}

.outro .inner1,
.outro .inner2 {
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    transition: opacity 0.5s ease-in-out;
}

.outro .inner1 {
    background: url('../assets/images/outro/outro_1.jpg') no-repeat center center;
    background-size: cover;

    z-index: 3;
}

.outro .inner2 {
    background: url('../assets/images/outro/outro_2.jpg') no-repeat center center ;
    background-size: cover;

    z-index: 2;
}

/* 1 번째 */
.outro .inner1 {
    width: 100%;
    position: relative;
}
.outro .inner1 .txt {
    width: 50%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.outro .inner1 .txt h1 {
    font-size: 120px;
    letter-spacing: 2px;
}
.outro .inner1 .txt p {
    width: 93%;
    padding-top: 40px;
    font-family: 'MBKCorpoSLight', sans-serif;
    font-size: 22px;
    line-height: 1.7;
}

/* 2 번째 */
.outro .inner2 {
    width: 100%;
    background-color: #101010;
}
.outro .inner2 h1 {
    width: 100%;
    font-family: 'MBK CorpoACon', serif;
    font-size: 120px;
    padding-bottom: 100px;
}



/*** last-txt ***/
.last-txt {
    width: 100%;
    height: 1500px;
    background-color: #101010;
    text-align: center;

    /* display: flex;
    align-items: center; */
}
.last-txt > h1 {
    width: 50%;
    margin: 0 auto;
    padding-bottom: 100px;
    font-family: 'MBK CorpoA', serif;
    font-size: 120px;

    color: transparent;
    transform: translateY(120px);
    transition: 0.7s ease-in-out, 0.7s ease-in-out;
}






/*** footer ***/
footer {
    padding: 150px 80px 0 80px;
    width: 100%;
    text-align: center;
}

footer h1 {
    font-family: 'MBK CorpoA', serif;
    font-size: 90px;
}

footer>a {
    width: 300px;
    margin: 30px auto;
    padding: 8px 10px 8px 20px;
    color: #ffffff;
    border: 1px solid #006CD0;
    background-color: #006CD0;
    border-radius: 70px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.3s ease-in-out;
}

footer>a:hover {
    color: #101010;
    background: #ffffff;
    border: 1px solid #101010;
}

footer>a img {
    width: 45px;
    padding: 15px;
    background-color: #fff;
    border-radius: 30px;
}

/* footer-menu */
footer .footer-menu {
    width: 100%;
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
}
footer .footer-menu li {
    line-height: 2.5;
    text-align: left;
}
footer .footer-menu > li > a {
    color: #101010;
}
.footer-menu .sub-menu a {
    font-family: 'MBKCorpoSLight', sans-serif;
    color: #555555;
}

footer .copyright {
    padding-top: 60px;
    text-align: left;
}
footer .copyright .links {
    width: 100%;
    padding-top: 7px;
    display: flex;
    justify-content: space-between;
}
footer .copyright .links a {
    color: #B3B2B3;
    padding-right: 10px;
    border-right: 1px solid #B3B2B3;
}
footer .copyright .links a:last-of-type {
    border: none;
}
footer .copyright h5 {
    padding: 15px 0 25px 0;
}

footer .bottom {
    width: 100%;
    padding: 25px 0 60px 0;
    text-align: left;
    border-top: 1px solid #101010;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
footer .bottom .txt {
    line-height: 1.3;
}
footer .bottom .txt p {
    font-size: 14px;
}
footer .bottom .sns {
    margin-left: auto;
    padding-right: 50px;
    display: flex;
    gap: 25px;
}
footer .bottom a {
    font-size: 20px;
    color: #101010;
    display: flex;
    align-items: center;
}
footer .bottom>a>img {
    width: 30px;
    padding: 5px;
    transform: rotate(-90deg);
    margin-left: 10px;
    border-radius: 50px;
    background-color: #101010;
}