@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'MBKCorpoS', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}

body {
    position: relative;
}

/*** chat ***/
.chat {
    width: 100%;
    position: relative;
}

.chat a {
    position: fixed;
    top: 800px;
    right: 80px;
    z-index: 9999;
}

.chat a img {
    width: 60px;
    padding: 15px;
    background: #555555;
    border-radius: 50px;
    transition: 0.2s ease-in-out;
}

.chat a img:hover {
    background-color: #006CD0;
}

/*** header ***/
header {
    width: 100%;
    height: 110px;
    padding: 0 80px;
    display: flex;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    transition: 0.5s ease-in-out;
}

header:hover {
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
}

header .logo img {
    width: 45px;
}

/* nav */
/* main-menu */
header nav .main-menu {
    padding-left: 240px;
    display: flex;
    justify-content: space-between;
}

header nav .main-menu li {
    width: 280px;
    position: relative;
}

header nav .main-menu li a {
    color: #ffffff;
    padding-left: 30px;
}

header nav .main-menu li a span:hover {
    border-bottom: 1px solid #ffffff;
}

/* sub-menu */
header nav .sub-menu {
    width: 100%;
    display: none;
    position: absolute;
    top: 355%;

    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
}

header nav .sub-menu li {
    line-height: 3.5;
}

header nav .sub-menu li a {
    width: 100%;
    color: #ffffff;
    border-bottom: 1px solid transparent;
    transition: 0.2s ease-in-out;

    display: block;
}

header nav .sub-menu li:hover a {
    border-bottom: 1px solid #B3B2B3;
    background-color: rgba(255, 255, 255, 0.1);
}

/* 마지막 list border-bottom 해제 */
header nav .sub-menu li:last-child a {
    border-bottom: none;
}

header nav .sub-menu li a svg {
    fill: #ffffff;
    margin-right: 10px;
}

/* side-menu */
header .side-menu {
    display: flex;
    gap: 25px;
    margin-left: auto;
    align-items: center;
}

header .side-menu a {
    color: #ffffff;
}

header .side-menu a:first-of-type:hover {
    border-bottom: 1px solid #ffffff;
}

header .side-menu a img {
    width: 24px;
}


/*** 본문 내용 시작 ***/
/*** main ***/
.main {
    width: 100%;
    height: 900px;
    padding: 0 80px 0 80px;
    position: relative;
}

.main .title {
    position: absolute;
    top: 500px;
    z-index: 9999;
}

.main .title h1 {
    font-family: 'MBK CorpoA', serif;
    font-size: 170px;
    color: #ffffff;
}

.main .title h2 {
    margin-top: 10px;
    font-size: 20px;
    font-family: 'MBKCorpoSLight', sans-serif;
    color: #ffffff;
}

/* button */
.main .title .title-btn {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.main .title .title-btn .btn1 {
    padding: 10px 20px;
    border-radius: 50px;
    border: 1px solid #ffffff;
    color: #ffffff;
    display: flex;
    align-items: center;
    transition: 0.2s ease-in-out;
}

.main .title .title-btn .btn1:hover {
    background-color: #ffffff;
    border: 1px solid #ffffff;
    color: #101010;
}

.main .title .title-btn .btn1 svg {
    margin-left: 5px;
    fill: #ffffff;
    transition: 0.2s ease-in-out;
}

.main .title .title-btn .btn1:hover svg {
    fill: #101010;
}

.main .title .title-btn .btn2 {
    padding: 10px 20px;
    margin-left: 15px;
    border-radius: 50px;
    background-color: #006CD0;
    color: #ffffff;
    transition: 0.2s ease-in-out;
}

.main .title .title-btn .btn2:hover {
    background-color: #ffffff;
    color: #101010;
}

.main .title p {
    margin-top: 50px;
    font-size: 14px;
    color: #ffffff;
}

.main video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 900px;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -99;
}

/*** gradient ***/
.gradient {
    margin: 0;
    width: 100%;
    height: 200px;
    background: linear-gradient(0deg, #101010 15%, transparent 100%);

    position: absolute;
    top: 700px;
    z-index: 999;
}

/*** intro ***/
.intro {
    width: 100%;
    height: 1300px;
    padding-top: 230px;
    background-color: #101010;
    text-align: center;

    position: relative;
    overflow: hidden;
}

.intro h2 {
    width: 60%;
    margin: auto;
    font-family: 'MBK CorpoA', serif;
    font-size: 90px;
    color: transparent;

    transform: translateY(50px);
    transition: 0.5s ease-in-out, 0.5s ease-in-out;
}

.intro video {
    width: 40%;
    padding-top: 55px;
}

/*** recommendation ***/
.recommen {
    width: 100%;
    height: 3300px;
    padding-left: 80px;
    background-color: #101010;

    display: flex;
    position: relative;
}

/* menu */
.recommen .menu {
    width: 100%;
    position: absolute;
    top: 120px;
    left: 80px;
}

.recommen .menu a {
    padding: 10px 0 5px 15px;
    border-left: 1px solid #555555;
    color: #555555;

    display: block;
    transition: 0.2s ease-in-out;
}

.recommen .menu a.active {
    font-weight: bold;
    color: #ffffff;
    border-left: 1px solid #ffffff;
}

/* recommen list */
.recommen .list {
    padding-left: 200px;
}

.charging-section {
    opacity: 0;
    /* 초기 상태에서 숨김 */
    transition: opacity 0.5s ease;
    /* 부드러운 전환 */
    position: absolute;
    /* 고정된 위치 */
    width: 100%;
    /* 전체 너비 사용 */
}

.charging-section.visible {
    opacity: 1;
    /* 보이게 설정 */
}

.recommen .list .recommen1,
.recommen .list .recommen2,
.recommen .list .recommen3,
.recommen .list .recommen4 {
    width: 100%;
    margin-bottom: 70px;
    display: flex;
}

/* txt */
/* txt 고정 + 효과 */
.recommen .list .recommen1 .txt,
.recommen .list .recommen2 .txt,
.recommen .list .recommen3 .txt,
.recommen .list .recommen4 .txt {
    width: 580px;
    padding-top: 220px;

    transition: opacity 0.5s ease-in-out;
}

.recommen .list .recommen1 .txt h2,
.recommen .list .recommen2 .txt h2,
.recommen .list .recommen3 .txt h2,
.recommen .list .recommen4 .txt h2 {
    font-size: 50px;
    line-height: 1.4;
    color: #ffffff;
}

.recommen .list .recommen1 .txt p,
.recommen .list .recommen2 .txt p,
.recommen .list .recommen3 .txt p,
.recommen .list .recommen4 .txt p {
    padding-top: 45px;
    color: #B3B2B3;
}

/* 3번째 버튼만 */
.recommen .list .recommen3 .txt a {
    width: 230px;
    margin-top: 50px;
    padding: 8px 10px 8px 20px;
    color: #ffffff;
    background: linear-gradient(0deg, rgba(46, 46, 46, 0.7), rgba(108, 108, 108, 0.7));
    border-radius: 70px;
    border: 2px solid rgba(108, 108, 108, 0.7);

    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.3s ease-in-out;
}

.recommen .list .recommen1 .txt a,
.recommen .list .recommen2 .txt a,
.recommen .list .recommen4 .txt a {
    width: 170px;
    margin-top: 50px;
    padding: 8px 10px 8px 20px;
    color: #ffffff;
    background: linear-gradient(0deg, rgba(46, 46, 46, 0.7), rgba(108, 108, 108, 0.7));
    border-radius: 70px;
    border: 2px solid rgba(108, 108, 108, 0.7);

    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.3s ease-in-out;
}

.recommen .list .recommen1 .txt a:hover,
.recommen .list .recommen2 .txt a:hover,
.recommen .list .recommen3 .txt a:hover,
.recommen .list .recommen4 .txt a:hover {
    color: #ffffff;
    background: rgba(108, 108, 108, 0.7);
    border: 2px solid rgba(108, 108, 108, 0.1);
}

.recommen .list .recommen1 .txt a>img,
.recommen .list .recommen2 .txt a>img,
.recommen .list .recommen3 .txt a>img,
.recommen .list .recommen4 .txt a>img {
    width: 45px;
    padding: 15px;
    background-color: #fff;
    border-radius: 30px;
}

.recommen .list .recommen1>img,
.recommen .list .recommen2>img,
.recommen .list .recommen3>img,
.recommen .list .recommen4>img {
    height: 750px;
    margin-left: 80px;
}




/*** models ***/
.models {
    width: 100%;
    height: 1500px;
    background-color: #F9F1E8;
    text-align: center;
    position: relative;
}

.models h1 {
    padding-top: 200px;
    font-family: 'MBKCorpoA', serif;
    font-size: 90px;
    letter-spacing: 2px;
}

.models .options .menu {
    width: 50px;
    padding-left: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 50%;
}

.models .options .menu a img {
    margin: 0 0 20px 0;
}

/* 이미지 교체 예정 */
.models .options .images {
    margin: auto;
    background-color: #fff;
    width: 800px;
    height: 700px;
}

/* spec */
.models .spec {
    width: 100%;
    padding: 120px 80px 0 80px;
    display: flex;
    justify-content: space-between;
}

.models .spec h2 {
    font-size: 35px;
}

.models .link {
    padding-top: 100px;
}

.models .link a {
    font-size: 20px;
    color: #101010;
    display: flex;
    align-items: center;
    justify-content: center;
}

.models .link a img {
    width: 30px;
    margin-left: 10px;
    padding: 5px;
    background-color: #101010;
    border-radius: 50px;
    transition: 0.2s ease-in-out;
}

.models .link a img:hover {
    /* background-color: transparent;
    border: 1px solid #101010; */
}


/*** service & acc ***/
.service {
    width: 100%;
    padding: 130px 80px;
}

.service .title {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.service .title h2 {
    font-family: 'MBK CorpoA', serif;
    font-size: 60px;
}

.service .title a {
    padding-bottom: 10px;
    font-size: 20px;
    border-bottom: 1px solid #E5E4E5;
    color: #101010;
    display: flex;
    align-items: center;
    transition: 0.2s ease-in-out;
}
.service .title a:hover {
    border-bottom: 1px solid #101010;
}

.service .title a img {
    margin-left: 10px;
    width: 15px;
}

/* service content-list */
.service .content {
    width: 100%;
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.service .content .inner1 p,
.service .content .inner2 p,
.service .content .inner3 p,
.service .content .inner4 p {
    padding-top: 25px;
}

.service .content .inner1 h3,
.service .content .inner2 h3,
.service .content .inner3 h3,
.service .content .inner4 h3 {
    padding-top: 27px;
    font-size: 22px;
    line-height: 1.3;
}
.service .content .inner1 h3 {
    width: 440px;
}
.service .content .inner3 h3 {
    width: 380px;
}
.service .content .inner4 h3 {
    width: 500px;
}

.service .content .inner1 a,
.service .content .inner2 a,
.service .content .inner3 a,
.service .content .inner4 a {
    width: 230px;
    margin-top: 30px;
    padding: 8px 10px 8px 20px;
    color: #ffffff;
    border: 1px solid #006CD0;
    background-color: #006CD0;
    border-radius: 70px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.3s ease-in-out;
}

.service .content .inner1 a:hover,
.service .content .inner2 a:hover,
.service .content .inner3 a:hover,
.service .content .inner4 a:hover {
    color: #101010;
    background: #ffffff;
    border: 1px solid #101010;
}

.service .content .inner1 a img,
.service .content .inner2 a img,
.service .content .inner3 a img,
.service .content .inner4 a img {
    width: 45px;
    padding: 15px;
    background-color: #fff;
    border-radius: 30px;

}

/* list 1 */
.service .content .inner1 > img {
    width: 595px;
}
/* list 2 */
.service .content .inner2>img {
    width: 690px;
    height: 700px;
    object-fit: cover;
    object-position: 84%;
}

/* list 3 */
.service .content .inner3>img {
    width: 400px;
    height: 515px;
    object-fit: cover;
    object-position: 84%;
}

/* list 4 */
.service .inner4 > img {
    width: 595px;
    padding-top: 60px;
}



/*** outro ***/
.outro {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    color: #ffffff;
    background-color: #101010;
}

.outro>h1 {
    margin: 0 auto;
    padding-top: 415px;
    width: 70%;
    font-family: 'MBK CorpoA', serif;
    font-size: 120px;
}

/*** footer ***/
footer {
    padding: 160px 80px 0 80px;
    width: 100%;
    text-align: center;
}

footer h1 {
    font-family: 'MBK CorpoA', serif;
    font-size: 90px;
}

footer>a {
    width: 300px;
    margin: 30px auto;
    padding: 8px 10px 8px 20px;
    color: #ffffff;
    border: 1px solid #006CD0;
    background-color: #006CD0;
    border-radius: 70px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.3s ease-in-out;
}

footer>a:hover {
    color: #101010;
    background: #ffffff;
    border: 1px solid #101010;
}

footer>a img {
    width: 45px;
    padding: 15px;
    background-color: #fff;
    border-radius: 30px;
}

/* footer-menu */
footer .footer-menu {
    width: 100%;
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
}
footer .footer-menu li {
    line-height: 2.5;
    text-align: left;
}
footer .footer-menu > li > a {
    color: #101010;
}
.footer-menu .sub-menu a {
    font-family: 'MBKCorpoSLight', sans-serif;
    color: #555555;
}

footer .copyright {
    padding-top: 60px;
    text-align: left;
}
footer .copyright .links {
    width: 100%;
    padding-top: 7px;
    display: flex;
    justify-content: space-between;
}
footer .copyright .links a {
    color: #B3B2B3;
    padding-right: 10px;
    border-right: 1px solid #B3B2B3;
}
footer .copyright .links a:last-of-type {
    border: none;
}
footer .copyright h5 {
    padding: 15px 0 25px 0;
}

footer .bottom {
    width: 100%;
    padding: 25px 0 60px 0;
    text-align: left;
    border-top: 1px solid #101010;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
footer .bottom .txt {
    line-height: 1.3;
}
footer .bottom .txt p {
    font-size: 14px;
}
footer .bottom .sns {
    margin-left: auto;
    padding-right: 50px;
    display: flex;
    gap: 25px;
}
footer .bottom a {
    font-size: 20px;
    color: #101010;
    display: flex;
    align-items: center;
}
footer .bottom>a>img {
    width: 25px;
    padding: 5px;
    transform: rotate(-90deg);
    margin-left: 10px;
    border-radius: 50px;
    background-color: #101010;
}