@charset "utf-8";

/*** recommendation ***/
.recommen {
    width: 100%;
    height: 5000px;
    padding: 0 80px;
    background-color: #101010;

    display: flex;
    justify-content: space-between;
    position: relative;
}

/* menu */
.recommen .menu {
    width: 30%;
    position: absolute;
    top: 100px; 
    left: 80px; 
    z-index: 1000; 
}

.recommen .menu a {
    padding: 10px 0 5px 15px;
    border-left: 1px solid #555555;
    color: #555555;

    display: block;
    transition: 0.2s ease-in-out;
}
.recommen .menu a.active {
    font-weight: bold;
    color: #ffffff;
    border-left: 1px solid #ffffff;
}

/* menu */
.charging-section {
    width: 100%;
    height: 100vh;
    color: #555555;
    position: relative;
}
.charging-section.visible {
    opacity: 1; /* 보이기 */
    transform: translateY(0); /* 원래 위치로 이동 */
}

/* txt */
.recommen .txt {
    padding-left: 250px;
    position: relative;
}
/* txt 고정 + 효과 */
.recommen .txt .recommen1,
.recommen .txt .recommen2,
.recommen .txt .recommen3,
.recommen .txt .recommen4 {
    width: 580px;
    margin-top: 220px;
    margin-bottom: 70px;

    position: absolute;
    top: 0; 
    left: 250px; 
    transition: transform 0.5s ease-in-out;
}

.recommen .txt .recommen1 h2,
.recommen .txt .recommen2 h2,
.recommen .txt .recommen3 h2,
.recommen .txt .recommen4 h2 {
    font-size: 50px;
    line-height: 1.4;
    color: #ffffff;
}

.recommen .txt .recommen1 p,
.recommen .txt .recommen2 p,
.recommen .txt .recommen3 p,
.recommen .txt .recommen4 p {
    padding-top: 45px;
    color: #B3B2B3;
}

/* 3번째 버튼만 */
.recommen .txt .recommen3 a {
    width: 230px;
    margin-top: 50px;
    padding: 8px 10px 8px 20px;
    color: #ffffff;
    background: linear-gradient(0deg, rgba(46, 46, 46, 0.7), rgba(108, 108, 108, 0.7));
    border-radius: 70px;
    border: 2px solid rgba(108, 108, 108, 0.7);

    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.3s ease-in-out;
}

.recommen .txt .recommen1 a,
.recommen .txt .recommen2 a,
.recommen .txt .recommen4 a {
    width: 170px;
    margin-top: 50px;
    padding: 8px 10px 8px 20px;
    color: #ffffff;
    background: linear-gradient(0deg, rgba(46, 46, 46, 0.7), rgba(108, 108, 108, 0.7));
    border-radius: 70px;
    border: 2px solid rgba(108, 108, 108, 0.7);

    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.3s ease-in-out;
}

.recommen .txt .recommen1 a:hover,
.recommen .txt .recommen2 a:hover,
.recommen .txt .recommen3 a:hover,
.recommen .txt .recommen4 a:hover {
    color: #ffffff;
    background: rgba(108, 108, 108, 0.7);
    border: 2px solid rgba(108, 108, 108, 0.1);
}

.recommen .txt .recommen1 a>img,
.recommen .txt .recommen2 a>img,
.recommen .txt .recommen3 a>img,
.recommen .txt .recommen4 a>img {
    width: 45px;
    padding: 15px;
    background-color: #fff;
    border-radius: 30px;
}


/* 이미지 */
.recommen .images img,
.recommen .images img,
.recommen .images img,
.recommen .images img {
    height: 750px;
    /* margin-left: 80px; */
    margin-bottom: 700px;

    display: flex;
}