@charset "utf-8";

/*** recommendation ***/
.recommen {
    width: 100%;
    padding: 0 80px;
    background-color: #101010;

    display: flex;
    justify-content: space-between;
    position: relative;
}

/* menu */
.recommen .menu {
    width: 30%;
    position: absolute;
    top: 100px; 
    left: 80px; 
    z-index: 99;

    opacity: 0;
    transition: 0.5s ease-in-out;
}

.recommen .menu a {
    padding: 10px 0 5px 15px;
    border-left: 1px solid #555555;
    color: #555555;

    display: block;
    transition: 0.3s ease-in-out;
}
.recommen .menu a.active {
    font-weight: bold;
    color: #ffffff;
    border-left: 1px solid #ffffff;
}

/* menu */
.charging-section {
    width: 100%;
    height: 750px;
    margin-bottom: 120px;

    color: #555555;
    position: relative;
    opacity: 0; 
    transform: translateY(50px); 
    transition: opacity 0.5s ease, transform 0.5s ease;
}
.charging-section.visible {
    opacity: 1;
    transform: translateY(0);
}



/* txt */
.recommen .txt {
    padding: 200px 0 0 250px;
    position: relative;
}
.recommen .txt h2,
.recommen .txt h2,
.recommen .txt h2,
.recommen .txt h2 {
    font-size: 50px;
    line-height: 1.4;
    color: #ffffff;
}
.recommen .txt p,
.recommen .txt p,
.recommen .txt p,
.recommen .txt p {
    padding-top: 45px;
    color: #B3B2B3;
}

/* 3번째 버튼만 */
.recommen .txt #recommen3 a {
    width: 230px;
    margin-top: 50px;
    padding: 8px 10px 8px 20px;
    color: #ffffff;
    background: linear-gradient(0deg, rgba(46, 46, 46, 0.7), rgba(108, 108, 108, 0.7));
    border-radius: 70px;
    border: 1px solid rgba(108, 108, 108, 0.7);

    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.3s ease-in-out;
}
.recommen .txt #recommen3 a img {
    width: 45px;
    padding: 12px;
    background-color: #ffffff;
    border-radius: 50px;
}
.recommen .txt #recommen3 a:hover {
    color: #ffffff;
    background: rgba(108, 108, 108, 0.7);
    border: 1px solid rgba(108, 108, 108, 0.1);
}

/* 나머지 버튼 */
.recommen .txt > div a {
    width: 160px;
    height: 63px;
    margin-top: 50px;
    padding: 8px 10px 8px 20px;
    color: #ffffff;
    background: linear-gradient(0deg, rgba(46, 46, 46, 0.7), rgba(108, 108, 108, 0.7));
    border-radius: 70px;
    border: 1px solid rgba(108, 108, 108, 0.7);

    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.3s ease-in-out;
}
.recommen .txt > div a img {
    width: 45px;
    padding: 12px;
    background-color: #ffffff;
    border-radius: 50px;
}
.recommen .txt a:hover {
    color: #ffffff;
    background: rgba(108, 108, 108, 0.7);
    border: 1px solid rgba(108, 108, 108, 0.1);
}

/* 이미지 */
.recommen .images img {
    height: 750px;
    margin: 0 0 120px 80px;
    object-fit: cover;
    display: flex;

    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    transition-delay: 0.2s;
}
.recommen .images img.visible {
    opacity: 1;
    transform: translateY(0);
}